<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Shivam Rajvir. It uses mapbox and wether stack apis to get address and weather information</p>
        <img class="portrait" src="/img/shivam.jpg">
    </div>
    
    {{>footer}}
</body>

</html>